<?php $_code = $this->getMethodCode(); ?>
<div class="form-list" id="payment_form_<?php echo $_code ?>" style="display:none">
    <div>
        <?php echo Mage::helper('onecheckout')->__('Test onecheckout payment.') ?>
    </div>
    <div>
        <div style="padding:10px 15px 15px;">
        	<span>test</span>
        </div>
    </div>
</div>

